<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社团主页</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>


    <main>
    <section class="welcome">
        <h2>欢迎来到我们的社团</h2>
        <p>我们致力于为成员提供丰富多彩的活动和资源。</p>
        <p><a href="#">了解更多</a></p>
    </section>
    <section class="introduction">
        <p>我们的社团成立于2020年，<br>旨在为成员提供一个交流和学习的平台。</p>
    </section>
    <section class="news">
        <img src="/images/news.png" alt="news">
        <div class="info">  
            <h2>最新活动</h2>
            <p>9月4日交流会<br>关于机器学习，等你来探索！</p>
        </div>
    </section>
    
    <section class="more">
        <div>
            <img src="/images/learning.png" alt="learning">
            <h3>学习资料</h3>
            <p>我们提供丰富的学习资料，<br>帮助成员提升技能。</p>
        </div>
        <div>
            <img src="/images/activity.png" alt="activity">
            <h3>活动合辑</h3>
            <p>我们定期举办各种活动，<br>让成员更好地交流。</p>
        </div>
        <div>
            <img src="/images/contact.png" alt="contact">
            <h3>联系我们</h3>
            <p>了解我们的社团，<br>加入我们一起成长。</p>
        </div>
    </section>


    </main>

    <footer>
        <p>&copy; 2024 南京大学AIA协会. All Rirghts Reserved</p>
    </footer>

</body>
</html>