<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            display: none;
        }
    </style>
</head>
<body>

    <div class="content">
        <%- body %>
    </div>

    <script>
        window.onload = function() {
            document.body.style.display = 'block';
        }
    </script>

</body>

</html>
