<head>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<header>
    <h1>南京大学AIA协会</h1>
    <!-- <div class="logo">
        <img src="/images/logo.png" alt="Company Logo">
        <span>南京大学AIA协会</span>
    </div> -->
    <div class="logo">
        <img src="/images/logo.png" alt="Company Logo">
        <span>南京大学AIA协会(测试版)</span>
    </div>
    <nav>
        <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/learning">学习资料</a></li>
            <li><a href="/activity">活动合辑</a></li>
            <li><a href="/about">关于我们</a></li>
            <li><a href="/articles">articles</a></li>
        </ul>
    </nav>
</header>